table thead tr {
    <!-- // background-color: #009879; -->
    <!-- color: #ffffff; -->
}

table tbody tr:nth-of-type(even) {
    <!-- background-color: #f3f3f3; -->
}

#sidebar div div div a img {
	/* height: 2rem !important; */
}

.mermaid div {
    background-color: #F8F9FF;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 16px 16px;
    border-radius: 10px;
    padding: 3rem 2rem;
}